
/*
    COLORS
    #7C3E66,#F2EBE9,#A5BECC,#243A73
*/

body{
    height: 1000px;
    background-color: #A5BECC;
    color: #243A73;
}

main{
    height: 850px;
}

h1{
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bolder;
    
}

h2{
    font-size: x-large;
    font-weight: bold;
    color: #A5BECC;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 420px 60px 380px 30px 380px 40px;
}

.item{
    grid-column: 2 / span 10;
    min-width: 420px;
}

header{
    text-align: center;
    
}

section{
    background-color: #7C3E66;
    padding: 3%;
    padding-left: 10%;
    display: block;
}

img{
    height: 300px;
    width: 300px;
    padding: 2% .5%;
}

ul{
    visibility: hidden;
    grid-row: 3 / span 2;
    grid-column: 2 / span 4;
    font-weight: bold;
    color: #243A73;
    background-color: #A5BECC;

}

#btnResults{
    margin-top: 2%;
    margin-left: 2%;
    height: 30px;
    width: 150px;
    font-size: medium;
    background-color: #F2EBE9;
    text-align: center;
    grid-row: 2;
    grid-column: 2;
}

#btnReset{
    grid-row: 6;
}

#chart{
    grid-row: 3 / span 2;
    grid-column: 6 / span 5;
}

#scatter{
    grid-row: 5;
    grid-column: 6 / span 5;
}

canvas{
    background-color: #A5BECC;
    width: auto;
}
